<div class="editarAutor" role="form">
        <div class="form-group">
           <h1>Editar Autor</h1>
            <div class="input-group">
                <label class="">Nombre</label>
                <input ng-model="editNombre" class="form-control"/>
                <br>
                <label class="">Nacionalidad</label>
                <input ng-model="editNacionalidad" class="form-control"/>
                <br>
                <label class="">Lapso De Vida</label>
                <input ng-model="editLapso_vida" class="form-control"/>
                <br>
                <label class="">Foto</label>
                <input type="file" name="foto" ng-model="editFoto" class="form-control"/>
                <br>
                    <button class="btn btn-success btn-lg" ng-click="updateAutor()">Guardar Autor</button>
            </div>
        </div>
    </div>