<div class="form-group">
    <div class="input-group">
      <h1>Afegir Autor</h1>
       <label class="">Nombre</label>
        <input ng-model="nombre" class="form-control"/>
        <br>
        <label class="">Nacionalidad</label>
        <input ng-model="nacionalidad" class="form-control"/>
        <br>
        <label class="">lapso De Vida</label>
        <input ng-model="lapso_vida" class="form-control"/>
        <br>
        <label class="">Foto</label>
        <br>
        <div class="input-control file">
                        
                        <input type="file" nv-file-select uploader="uploader"/>
                        <button class="btn-file"></button>
                    </div>
                     <ul>
            <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
                <button ng-click="item.upload()">upload</button>
            </li>
        </ul>
    </div>
</div>