<div class="editarObra" role="form">
        <div class="form-group">
           <h1>Editar Obra</h1>
            <div class="input-group">
                <label class="">Titulo</label>
                <input ng-model="editTitulo" class="form-control"/>
                <br>
                <label class="">año</label>
                <input ng-model="editano" class="form-control"/>
                <br>
                <label class="">descripcion</label>
                <input ng-model="editDescripcion" class="form-control"/>
                <br>
                <label class="">Usuari</label>
                <input ng-model="editusuari_id" class="form-control"/>
                <br>
                <label class="">Autor</label>
                <input ng-model="editautor_id" class="form-control"/>
                <br>
                <label class="">Epoca</label>
                <input ng-model="editepoca_id" class="form-control"/>
                <br>
                    <button class="btn btn-success btn-lg" ng-click="updateObra()">Guardar Obra</button>
            </div>
        </div>
    </div>