<a href="/#/novaobra">Crear una nova obra</a>
    <div class="LlistaObres col-xs-12 col-md-12 col-lg-12">
        <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"><b>Llistat d'obres</b></h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="box-group" id="accordion" >
                    <div class="panel box box-primary" ng-repeat="obra in obres">
                      <div class="box-header with-border">
                        <h4 class="box-title">
                          <a data-toggle="collapse" onclick="return false;" data-parent="#accordion" href="#{{obra._id}}" aria-expanded="true" class="collapsed">
                            <p>{{obra.titulo}}</p>
                          </a>
                        </h4>
                      </div>
                      <div id="{{obra._id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-8 col-md-8 col-lg-8">
                                    <p>{{obra.titulo}}</p>
                                    <p>{{obra.ano}}</p>
                                    <p>{{obra.descripcion}}</p>
                                    <p>{{obra.usuari_id}}</p>
                                    <p>{{obra.autor_id}}</p>
                                    <p>{{obra.epoca_id}}</p>
                                </div>
                                <div class="col-xs-4 col-md-4 col-lg-4">
                                     <img class="img-thumbnail" ng-src="api/imatges/320/{{obra.imagen}}">
                                </div>
                            </div>
                            <div class="row">
                                <div id="divBotonsObra" class="col-xs-2 col-md-2 col-lg-2">
                                    <button class="btn btn-block btn-primary btn-xs" onclick=" location.href='/#/editobra'" ng-click="editarObra(obra)">Editar</button>
                                </div>
                                <div id="divBotonsObra" class="col-xs-2 col-md-2 col-lg-2">
                                    <button class="btn btn-block btn-primary btn-xs" ng-click="eliminarObra(obra)">Esborrar</button>
                                </div>
                            </div>
                         </div>
                      </div>
                    </div>
               </div>
            </div><!-- /.box-body -->
        </div>