<div class="form-group">
    <div class="input-group">
      <h1>Afegir Obra</h1>
                <label class="">Titulo</label>
                <input ng-model="titulo" class="form-control"/>
                <br>
                <label class="">año</label>
                <input ng-model="ano" class="form-control"/>
                <br>
                <label class="">descripcion</label>
                <input type="text-area" ng-model="descripcion" class="form-control"/>
                <br>
                <label class="">Usuari</label>
                <br>
                <select id="usuarislist" class="input-medium">
                     <option ng-repeat="usuari in usuaris">{{usuari.nombre}}</option>
                </select>
                <br>
                <label class="">Autor</label>
                <br>
                <select id="autorslist" class="input-medium">
                    <option ng-repeat="autor in autors">{{autor.nombre}}</option>
                </select>
                <br>
                <label class="">Epoca</label>
                <br>
                <select id="epoqueslist" class="input-medium">
                    <option ng-repeat="epoca in epoques">{{epoca.nombre}}</option>
                </select>
                <br>
                <label class="">Foto</label>
                <br>
        <div class="input-control file">
                        
                        <input type="file" nv-file-select uploader="uploader"/>
                        <button class="btn-file"></button>
        </div>
        <ul>
            <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
                <button ng-click="item.upload()">upload</button>
            </li>
        </ul>
    </div>
</div>