<div class="editarUsuari" role="form">
        <div class="form-group">
           <h1>Editar Usuari</h1>
            <div class="input-group">
                <label class="">Usuario</label>
                <input ng-model="editusuario" class="form-control"/>
                <br>
                <label class="">Contrasenya</label>
                <input ng-model="editcontrasenya" class="form-control"/>
                <br>
                <label class="">Email</label>
                <input ng-model="editemail" class="form-control"/>
                <br>
                <label class="">Nombre</label>
                <input ng-model="editnombre" class="form-control"/>
                <br>
                <label class="">Fecha</label>
                <input ng-model="editfecha" class="form-control"/>
                <br>
                <label class="">Tipo</label>
                <input ng-model="editipo" class="form-control"/>
                <br>
                    <button class="btn btn-success btn-lg" ng-click="updateUsuari()">Guardar Usuari</button>
            </div>
        </div>
    </div>