
<h1>Usuaris</h1>
<a href="/#/nouusuari">Crear un nou usuari</a>
<div class="LlistaAutors col-xs-12 col-md-12 col-lg-12">
    <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"><b>Llistat d'usuaris</b></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="box-group" id="accordion" >
                <div class="panel box box-primary" ng-repeat="usuari in usuaris">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" onclick="return false;" data-parent="#accordion" href="#{{usuari._id}}" aria-expanded="true" class="collapsed">
                        <p>{{usuari.usuario}}</p>
                      </a>
                    </h4>
                  </div>
                  <div id="{{usuari._id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-8 col-md-8 col-lg-8">
                                <p>{{usuari._id}}</p>
                                <p>{{usuari.usuario}}</p>
                                <p>{{usuari.contrasenya}}</p>
                                <p>{{usuari.email}}</p>
                                <p>{{usuari.nombre}}</p>
                                <p>{{usuari.fecha}}</p>
                                <p>{{usuari.tipo}}</p>
                            </div>
                            <div class="col-xs-4 col-md-4 col-lg-4">
                                 <img class="img-thumbnail" ng-src="api/imatges/320/{{usuari.imagen}}">
                            </div>
                        </div>
                        <div class="row">
                            <div id="divBotonsAutor" class="col-xs-2 col-md-2 col-lg-2">
                                <button class="btn btn-block btn-primary btn-xs" onclick=" location.href='/#/editusuari'" ng-click="editarUsuari(autor)">Veure Perfil</button>
                            </div
                        </div>
                     </div>
                  </div>
                </div>
           </div>
        </div><!-- /.box-body -->
        </div><!-- /.box --