<div class="form-group">
    <div class="input-group">
      <h1>Afegir Usuari</h1>
       <label class="">Usuario</label>
        <input ng-model="usuario" class="form-control"/>
        <br>
        <label class="">Contrasenya</label>
        <input ng-model="contrasenya" class="form-control"/>
        <br>
        <label class="">Email</label>
        <input ng-model="email" class="form-control"/>
        <br>
        <label class="">Nombre</label>
        <input ng-model="nombre" class="form-control"/>
        <br>
        <label class="">Fecha</label>
        <input ng-model="fecha" class="form-control"/>
        <br>
        <label class="">Tipo</label>
        <input ng-model="tipo" class="form-control"/>
        <br>
            <button class="btn btn-success btn-lg" ng-click="afegirUsuari()">Afegir Usuari</button>
    </div>
</div>