<!doctype html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Llibres Molt Bonics</title>
    <link rel="stylesheet" href="bootstrap/bootstrap/css/bootstrap.min.css" type="text/css" />

</head>
<body ng-app='didart'>
<div class="container" ng-controller="AutorsController">
    <h1>Llibres</h1>
    <div class="LlistaAutors">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="autor in autors ">
                <p>{{autor.nombre}}</p>
                <p>{{autor.foto}}</p>
                <p>{{autor.nacionalidad}}</p>
                <p>{{autor.lapso_vida}}</p>
                <p class="btn btn-success btn-lg" ng-click="editarAutor(autor)">Editar</p>
                <p class="btn btn-success btn-lg" ng-click="eliminarAutor(autor)">Esborrar</p>
            </li>
        </ul>
    </div>
    <div class="Afegirautor" role="form">
        <div class="form-group">
            <div class="input-group">
              <h1>Afegir Autor</h1>
               <label class="">Nombre</label>
                <input ng-model="nombre" class="form-control"/>
                <br>
                <label class="">Foto</label>
                <input ng-model="foto" class="form-control"/>
                <br>
                <label class="">Nacionalidad</label>
                <input ng-model="nacionalidad" class="form-control"/>
                <br>
                <label class="">lapso De Vida</label>
                <input ng-model="lapso_vida" class="form-control"/>
                <br>
                    <button class="btn btn-success btn-lg" ng-click="afegirAutor()">Afegir Autor</button>
            </div>
        </div>
            <div class="editarAutor" role="form">
        <div class="form-group">
           <h1>Editar Autor</h1>
            <div class="input-group">
                <label class="">Nombre</label>
                <input ng-model="editNombre" class="form-control"/>
                <br>
                <label class="">Foto</label>
                <input ng-model="editFoto" class="form-control"/>
                <br>
                <label class="">Nacionalidad</label>
                <input ng-model="editNacionalidad" class="form-control"/>
                <br>
                <label class="">Lapso De Vida</label>
                <input ng-model="editLapso_vida" class="form-control"/>
                <br>
                    <button class="btn btn-success btn-lg" ng-click="updateAutor()">Guardar Autor</button>
            </div>
        </div>
    </div>

</div>

</div>
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-resource.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
