<div class="editarEpoca" role="form">
        <div class="form-group">
           <h1>Editar Epoca</h1>
            <div class="input-group">
                <label class="">Nombre</label>
                <input ng-model="editNombre" class="form-control"/>
                <br>
                <label class="">Lapso De Tiempo</label>
                <input ng-model="editlapso_tiempo" class="form-control"/>
                <br>
                    <button class="btn btn-success btn-lg" ng-click="updateEpoca()">Guardar Epoca</button>
            </div>
        </div>
    </div>