<h1>Epoques</h1>
<a href="/#/nouautor">Crear una nova època</a>
<div class="LlistaAutors col-xs-12 col-md-12 col-lg-12">
    <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"><b>Llistat d'èpoques</b></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="box-group" id="accordion" >
                <div class="panel box box-primary" ng-repeat="epoca in epoques">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" onclick="return false;" data-parent="#accordion" href="#{{epoca._id}}" aria-expanded="true" class="collapsed">
                        <p>{{epoca.nombre}}</p>
                      </a>
                    </h4>
                  </div>
                  <div id="{{epoca._id}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-8 col-md-8 col-lg-8">
                                <p>{{epoca.nombre}}</p>
                                <p>{{epoca.lapso_tiempo}}</p>
                                <p>{{epoca._id}}</p>
                            </div>
                            <div class="col-xs-4 col-md-4 col-lg-4">
                                 <img class="img-thumbnail" ng-src="api/imatges/320/{{epoca.imagen}}">
                            </div>
                        </div>
                        <div class="row">
                            <div id="divBotonsEpoca" class="col-xs-2 col-md-2 col-lg-2">
                                <button class="btn btn-block btn-primary btn-xs" onclick=" location.href='/#/editepoca'" ng-click="editarEpoca(epoca)">Editar</button>
                            </div>
                            <div id="divBotonsEpoca" class="col-xs-2 col-md-2 col-lg-2">
                                <button class="btn btn-block btn-primary btn-xs" ng-click="eliminarEpoca(epoca)">Esborrar</button>
                            </div>
                        </div>
                     </div>
                  </div>
                </div>
           </div>
        </div><!-- /.box-body -->
    </div><!-- /.box --