<div class="form-group">
    <div class="input-group">
      <h1>Afegir Epoca</h1>
       <label class="">Nombre</label>
        <input ng-model="nombre" class="form-control"/>
        <br>
        <label class="">Lapso de tiempo</label>
        <input ng-model="lapso_tiempo" class="form-control"/>
        <br>
            <button class="btn btn-success btn-lg" ng-click="afegirEpoca()">Afegir Epoca</button>
    </div>
</div>